extends layout

block content	
	- for(var i = 0; i < added.length; i++)
		mixin post(added[i].name, added[i].text, added[i].date, added[i].comment, '/post/' + added[i].id, added[i].rubric)

//- block panel
//- 	article.pan
//- 		article.pan_title Главное
//- 		article.pan_list Первый
//- 		article.pan_list Второй
//- 		article.pan_list Третий
//- 	article.pan
//- 		article.pan_title Главное
//- 		article.pan_list Первый
//- 		article.pan_list Второй
//- 		article.pan_list Третий
//- 	article.pan
//- 		article.pan_title Главное
//- 		article.pan_list Первый
//- 		article.pan_list Второй
//- 		article.pan_list Третий