extends layout

block content
	section.post_main
		h3.post_tit=added.name
		article.time_post=extra
		a(href="/rubric/" + added.rubric)
			article.rubric_post Рубрика: #{added.rubric}
		article.content_post.data_post!=added.text
	section.comment
		- if(main.comments == 1)
			article.send_comment
				form(action="" method="post")
					input(type="text" name="name" placeholder="Ваше имя")
					br
					textarea(name="comment" placeholder="Ваш комментарий" required)
					br
					input(type="submit" value="Отправить").but_read
	-if(extra2)
		- for(var i = 0; i < extra2.length; i++)
			//- Поставить проверку на авторство блога!
			mixin comment(extra2[i].autor_name, extra2[i].date, extra2[i].text)